<!-- <mat-tab-group>
    <mat-tab label="Post a Job">
      <div class="container">
          <div class="row">
            <div class="col">
            </div>
            <div class="col-5">
                <div>
                    <a routerLink="/jobs"><i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i></a>
                    <br>
                    <label>Post A Job</label>
                </div>
             </div>
            <div class="col">
            </div>
          </div>
        </div>      
    </mat-tab>
    <mat-tab label="View Takers"> Content 2 </mat-tab>
</mat-tab-group> -->

<!-- <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-5">
          <div>
            <h1>Post a Job</h1>
              <a routerLink="/jobs"><i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i></a>
              <br>
          </div>
       </div>
      <div class="col">
      </div>
    </div>
  </div> -->
  <!-- <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <div>
                <br>
                <a routerLink="/jobs"><i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i></a>
                <br>
            </div>
      </mat-grid-tile>
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile><h4>Post Jobs</h4></mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list> -->
  <div class="container">
      <!-- <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <br>
            <a routerLink="/jobs"><i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i> <h5> Post Job </h5></a>
            <br>
        </div>
        <div class="col-sm">
        </div>
      </div> -->
         <div class="grid grid-pad" >
          <div class="module job">
              <a routerLink="/jobs">
              <i class="fa fa-thumb-tack  fa-3x" aria-hidden="true"></i>
              <br>
              <h6>Post Jobs</h6>
              </a>
          </div>
      </div>
      <div class="grid grid-pad l">
          <div class="module job">
              <a routerLink="/jobs">
              <i class="fa fa-binoculars  fa-3x" aria-hidden="true"></i>
              <h6>Find Jobs</h6>
              </a>
          </div>
      </div>




        
       

  