
 <app-layout>
        <div class="container">
                <div class="row">
                  <div class="col">
                        <h1>{{title}}</h1>
                        <nav>
                            <a routerLink="/dashboard">Dashboard</a>
                            <a routerLink="/jobs">Jobs</a>
                        </nav>
                        <router-outlet></router-outlet>
                        <app-messages></app-messages>
                  </div>
                </div>
         </div>
        
 </app-layout>


