<h2>My Jobs</h2>
<ul class="jobs">
    <li *ngFor="let job of jobs">
        <a routerLink="/detail/{{job.id}}">
          <span class="badge">{{job.id}}</span> {{job.name}}
        </a>
    </li>
</ul>
<!-- <app-job-detail [job]="selectedJob"></app-job-detail> -->

<!-- <div *ngIf="selectedJob">

    <h2>{{selectedJob.name | uppercase}} Job Details</h2>
    <div><span>id: </span>{{selectedJob.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedJob.name" placeholder="name">
      </label>
    </div>
  
 </div> -->